.form-body{
    margin: 50px auto;
    width: 600px;
    background-color: #34495e;
    padding: 20px;
    border-radius: 10px;
    color: azure;
}




.panel-titel{
    color: white;
    text-transform: uppercase;
    font-weight: 500;
}

.btn{
    border: none;
    margin: 20px;
    padding: 15px;
    width: 220px;
    font-family: "montserrat",sans-serif;
    text-transform: uppercase;
    border-radius: 6px;
    cursor: pointer;
    background-image: linear-gradient(to left,#1abc9c,#2980b9,#1abc9c);
    background-size:200%;
    transition: 0.6s;
}

.btn:hover{
    background-position: right;
}

.panel-body input[type = "text"],.panel-body input[type = "password"]{
    border: 0;
    background: none;
    display: block;
    margin: 25px auto;
    text-align: center;
    border:2px solid #2980b9;
    padding: 14px 10px;
    width: 200px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
}

.panel-body input[type = "text"]:focus,.panel-body input[type = "password"]:focus{

    width: 380px;
    border-color:#27ae60 ;
}





@media screen and (max-width:800px){
    .form-body{
        width:400px;
    }
    .panel-body input[type = "text"]:focus,.panel-body input[type = "password"]:focus{
        width: 280px;
    }
}