<form #employeeForm="ngForm"  (ngSubmit)="saveEmployee(employeeForm)" class=".zoomInUp" autocomplete="off" >
    <div class="form-body"> 
         <div class="panel panel-primary col-sm-12">
                <div class="panel-heading">
                    <h3 class="panel-titel text-center">Sign IN</h3>
                </div>
                <div class="panel-body">
                    <div class="form-group text-center">
                        
                        <input id="FirstName" name="fn" type="text" class=" form-horizontal " [(ngModel)]="fn" placeholder="First Name">
                    </div>
                    <div class="form-group text-center">
                        
                        <input id="LastName" name="la" type="text" class=" form-horizontal " [(ngModel)]="la" placeholder="Last Name">
                    </div>
                    <div class="form-group text-center">
                        
                        <input id="UserName" name="PN" type="text" class=" form-horizontal " [(ngModel)]="un" placeholder="User Name">
                    </div>
                    <div class="form-group text-center">
                    
                        <input id="Password" name="pw" type="password" class="form-horizontal " [(ngModel)]="pw" placeholder="Password">
                    </div>
                    <div class="form-group text-center">
                        <input id="Email" name="ea" type="text" class=" form-horizontal " [(ngModel)]="ea" placeholder="Email Address">
                    </div>
                    <div class="form-group text-center">
                        <input id="PhoneNumber" name="pn" type="password" class=" form-horizontal " [(ngModel)]="pn" placeholder="Phone number">
                    </div>
                </div>
                <div class="panel-footer">
                    

                <div class=" text-center">
                        <button type="submit" class="btn  btn-primary " >
                            Save
                        </button>
                    </div>
                </div>
         </div>
    </div>
</form>



