<!DOCTYPE html>
<html>
<head>
    <style>
        .drop_down_M div{
            margin:auto 5px;
            float: left;



        }
        .drop_down_M select{
            width: 200px;
        }
    </style>

</head>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<body>

<!--<div ng-app="form_module" ng-controller="form_ctrl_state" class="drop_down_M">-->

    <!--<select ng-model="State_selector" ng-options="x for x in State_names" ng-change="change_function()">-->
    <!--</select>-->

    <!--<select ng-model="City_selector" ng-options="x for x in City_names">-->
    <!--</select>-->

<!--</div>-->

<!--<script>-->
    <!--var app=angular.module('form_module',[]);-->
    <!--app.controller('form_ctrl_state',function ($scope) {-->
        <!--$scope.State_names=["Tehran","Alborz","Shiraz"]-->
        <!--$scope.change_function=function () {-->
            <!--if ($scope.State_selector == "Alborz")-->
                <!--$scope.City_names = ["Karaj", "Fardis", "Talaghan"]-->
            <!--else-->
                <!--$scope.City_names = []-->

        <!--}-->

    <!--})-->


<!--</script>-->


<!--<div ng-app="list_app" ng-controller="listCtrl">-->
    <!--<ul>-->
        <!--<li ng-repeat="x in names | orderBy:'age'">-->
            <!--{{x.name +","+ x.age}}-->
        <!--</li>-->
    <!--</ul>-->
<!--</div>-->




<!--<script>-->
    <!--angular.module("list_app",[]).-->
    <!--controller("listCtrl", function ($scope) {-->
        <!--$scope.names=[-->
            <!--{name:'ali',age:'19'},-->
            <!--{name:'reza',age:'15'},-->
            <!--{name:'ahmad',age:'34'}-->
        <!--]-->
    <!--})-->
<!--</script>-->



<!--<div ng-app="list_app" ng-controller="namesCtrl">-->

    <!--<p>Type a letter in the input field:</p>-->

    <!--<p><input type="text" ng-model="test"></p>-->

    <!--<ul>-->
        <!--<li ng-repeat="x in names | filter:test">-->
            <!--{{ x }}-->
        <!--</li>-->
    <!--</ul>-->

<!--</div>-->

<!--<script>-->
    <!--angular.module('list_app', []).controller('namesCtrl', function($scope) {-->
        <!--$scope.names = [-->
            <!--'Jani',-->
            <!--'Carl',-->
            <!--'Margareth',-->
            <!--'Hege',-->
            <!--'Joe',-->
            <!--'Gustav',-->
            <!--'Birgit',-->
            <!--'Mary',-->
            <!--'Kai'-->
        <!--];-->
    <!--});-->
<!--</script>-->



<ul ng-app="myApp" ng-controller="namesCtrl">
    <li ng-repeat="x in names">
        {{x | myFormat}}
    </li>
</ul>

<script>
    var app = angular.module('myApp', []);
    app.filter('myFormat', function() {
        return function(x) {
            var i, c, txt = "";
            for (i = 0; i < x.length; i++) {
                c = x[i];
                if (i % 2 == 0) {
                    c = c.toUpperCase();
                }

                txt += c;
            }
            return txt;
        };
    });
    app.controller('namesCtrl', function($scope) {
        $scope.names = [
            'Jani',
            'Carl',
            'Margareth',
            'Hege',
            'Joe',
            'Gustav',
            'Birgit',
            'Mary',
            'Kai'
        ];
    });
</script>

</body>
</html>
