<div class="header">
    <h2 class="logo">Welcome</h2>
    <input type="checkbox" id="chk">
    <label for="chk" class="show-menu-btn">
        <p>...</p>
    </label>
    <ul class="menu">
        <a href="#">Home</a>
        <a href="#" routerLink="/rigestery" routerLinkActive="active">signin</a>
        <a href="#">Services</a>
        <a href="#">Works</a>
        <a href="#">Contact</a>
        <label for="chk" class="hide-menu-btn">
            <p>Close</p>
        </label>
    </ul>

</div>
    <div class="text-center " >
        <router-outlet class="content"></router-outlet>
    </div>