*{
    margin: 0;
    padding: 0;
    font-family: "montserrat",sans-serif;
}

.header{
    height: 100px;
    background-color:#34495e;
    padding: 0 20px;
    color:#fff;
}
.logo:hover{
    cursor: pointer; 
}

.logo{
    line-height: 100px;
    float: left;
    text-transform: uppercase;
}
.menu{
    float: right;
    line-height: 100px;
}

.menu a{
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    padding: 0 10px;
}

.show-menu-btn,.hide-menu-btn{
    transition: 0.4s;
    font-size: 30px;
    cursor: pointer;
    display: none;
}

.show-menu-btn{
    float: right;
    font-size: 50px;
}

.show-menu-btn p{
    line-height: 100px;
  

}




.hide-menu-btn{
    font-size: 15px;
}

.menu a:hover,
.show-menu-btn:hover,
.hide-menu-btn:hover{
    color: #3498db;
}


.content {
    margin-top: 60px;
}


#chk{
    position: absolute;
    visibility: hidden;
    z-index: -1111;
}




@media screen and (max-width:800px){
    .show-menu-btn,.hide-menu-btn{
        display: block;
    }
    .menu{
        position: fixed;
        width: 100%;
        height: 100vh;
        background-color:#333;
        right: -100%;
        top: 0;
        text-align: center;
        padding: 80px 0;
        line-height: normal;
        transition: 0.7s;
    }
    .menu a{
        display: block;
        padding: 20px;
    }

    .hide-menu-btn{
        position: absolute;
        top: 40px;
        right:40px;
    }

    #chk :checked ~ .menu{
        right: 0;
    }
}